.header {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
}
.backBtn {
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    margin-left: 16px;
    line-height: 100%;
}
.title {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
