.wrapper {
    display: flex;
    width: 100%;
    height: var(--default-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-default);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

//action
.action {
    display: flex;
    align-items: center;
}
.option {
    margin-left: 16px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.actionBtn {
    font-size: 24px;
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    color: #161823;
}
.avatarBtn {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    border-radius: 50%;
}

//custom
.customlogin {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
}
